---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="Página no encontrada | GEP Protect" description="La página solicitada no existe o ha sido movida.">
  <h1 class="text-4xl font-bold mt-16">404 - Página no encontrada</h1>
  <a href="/" class="text-primary">Volver al inicio</a>
</BaseLayout>
